<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Aiwisfin</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/content/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/content/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
 
</head>
<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo"><img src="static/img/logo2.png"></a>
                <ul class="right hide-on-med-and-down">
                   
                    <li><a href="/home">首頁</a></li>
                    <li><a href="/portfolio">投資組合</a></li>
                    <li><a href="/chat">對話機器人</a></li>
                    <li><a href="/en">English</a></li>
                    <li>
                        <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    </li>

                    <li>
                        <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    </li>
                </ul>

                <ul id="nav-mobile" class="side-nav">

                    <li><a href="/">首頁</a></li>
                    <li><a href="/portfolio">投資組合</a></li>
                    <li><a href="/chat">對話機器人</a></li>
                    <li><a href="/en">English</a></li>
                    <li>
                        <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    </li>

                    <li>
                        <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    </li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

    </div>
    

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text blue-lighten-2">AI X Portfolio X Chatbot</h1>
           

            <div class="row center">
                <a href="#demo_video" id="download-button" class="btn-large waves-effect waves-light  blue lighten-1">開始旅程</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="static/img/portfolio.jpg" alt="Unsplashed background img 1" ></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">account_box</i></h2>
                    <h5 class="center">我們會了解一些關於你的訊息</h5>
                    <p class="light">您的理財規劃?您為什麼想投資?您理想的假期?首付?退休生活?</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">data_usage</i></h2>
                    <h5 class="center">接著將為您建立一個投資組合</h5>
                    <p class="light">根據您的規劃，我們將打造您專屬的投資計畫，使用我們的技術打造客製化的投資組合。</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">show_chart</i></h2>
                    <h5 class="center">實現承諾</h5>

                    <p class="light">我們將持續努力。一旦您完成設定，我們將持續管理您的投資組合。</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">speaker_notes</i></h2>
                    <h5 class="center">即時智慧對話</h5>

                    <p class="light">歡迎您與人工智慧機器人暢談!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">search</i></h2>
                    <h5 class="center">即時資訊</h5>

                    <p class="light"> 查詢即時金融資訊，包含股票、石油、黃金、匯率，以及日常生活資訊如天氣等。</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
                    <h5 class="center">目標</h5>
                    <p class="light">聚焦理財 放眼未來</p>
                </div>
            </div>
        </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper" >
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
            <h3 class="header col s12  text-lighten-3">聚焦理財 放眼未來</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" >
          <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text" id="demo_video"></i></h3>
              <h4>服務介紹</h4>
              <div class="video-container">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/4gLq8oMKOvM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
          </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
            <h3 class="header col s12 light">Agglomeration on financial management and looking to the future</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal" id="bottom">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Aiwisfin</h5>
          <p class="grey-text text-lighten-4">
              人工智慧對話式理財機器人
          </p>


        </div>
      
       
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Aiwisfin&Co. Present
        </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/scripts/materialize.js"></script>
  <script src="/static/scripts/init.js"></script>

  </body>
</html>
